---
import dayjs from "dayjs";
import E from "../E.astro";

const { title, date, updateDate, category, description, link } = Astro.props;
---

{
  link ? (
    <a class="hover:brightness-75 transition" href={link}>
      <h1>
        <E>{title}</E>
      </h1>
    </a>
  ) : (
    <h1>
      <E>{title}</E>
    </h1>
  )
}

<span>
  posted on {dayjs(date).format("YYYY-MM-DD")}
  {updateDate ? <E>🔸</E> : ""}
  {
    updateDate
      ? `updated on
        ${dayjs(updateDate).format("YYYY-MM-DD")} `
      : ""
  }
  <span class="category bg-slate-600 px-2 rounded text-gray-100">{category}</span>
</span>

<p>
  <E>
    {description}
  </E>
</p>

<style>
  h1 {
    @apply text-2xl font-semibold text-accent;
  }

  h2 {
    @apply text-xl font-medium;
  }
</style>
