---
import Shell from "./Shell.astro";

import dayjs from "dayjs";

import "katex/dist/katex.min.css";

const { title, dateTime, cover, tags } = Astro.props.frontmatter;
const parsedDateTime = dayjs(dateTime).format("YYYY-MM-DD, HH:mm (UTC Z)");
---

<Shell title={title}>
  <article
    class="max-w-none
    prose
    prose-headings:my-[12px]
    prose-img:mx-auto
    prose-img:max-h-[360px]
    prose-img:object-contain
    prose-img:h-11/12
    prose-img:w-11/12"
  >
    <h1>{title}</h1>
    <div class="my-2">{parsedDateTime}</div>
    <div class="my-2">
      {tags.map((tag: string[]) => <span class="badge badge-accent badge-outline mx-0.5 p-2 text-xs">{tag}</span>)}
    </div>
    <div class="flex flex-col place-items-center">
      <img src={cover.src} alt={cover.alt} class="mb-1" />
      <span class="text-sm italic">{cover.alt}</span>
    </div>
    <slot />
  </article>
</Shell>
