---
import Shell from "./Shell.astro";

import dayjs from "dayjs";

import "katex/dist/katex.min.css";

const { title, date, category, description } = Astro.props.frontmatter;

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/**/*.{jpeg,jpg,png,gif}");
---

<Shell title={title} ogTitle={title} ogDescription={description}>
  <article
    class="max-w-none
    prose
    prose-headings:my-6
    prose-img:mx-auto
    prose-img:max-h-[360px]
    prose-img:object-contain
    prose-img:h-11/12
    prose-img:w-11/12
    prose-code:break-words"
  >
    <h1>{title}</h1>
    <div class="my-2">{dayjs(date).format("YYYY-MM-DD")}</div>
    <div class="my-2">
      <span class="badge badge-accent badge-outline mx-0.5 p-2 text-xs">{category}</span>
    </div>

    <slot />
  </article>
</Shell>
