---
interface Props {
  title?: string;

  ogTitle?: string;
  ogImage?: string;
  ogDescription?: string;
}

const { title, ogTitle, ogImage, ogDescription } = Astro.props;

import Header from "../components/Layout/Header.astro";
import Footer from "../components/Layout/Footer.astro";

import "../styles/global.css";

// Twemoji injection
import twemoji from "../twemoji/twemoji.esm.js";
import { twemojiSettings } from "../constants.ts";
const slotHtml: string = twemoji.parse(await Astro.slots.render("default"), twemojiSettings);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Welcome to the World of ☺️" />
    <meta name="viewport" content="width=device-width" />
    <title>{title ? `${title} -` : ""} Wessell's ☺️site</title>

    <link rel="sitemap" href="/sitemap-index.xml" />

    {/* RSS feed */}
    <link rel="alternate" type="application/rss+xml" title="Your Site's Title" href={`${Astro.site}rss.xml`} />

    {/* Open Graph stuff if there's any */}
    <meta property="og:site_name" content="Wessell's ☺️site" />
    <meta name="theme-color" content="#ffcc4d" />
    {ogTitle && <meta property="og:title" content={ogTitle} />}
    <meta property="og:image" content={ogImage ? ogImage : "/logo.png"} />
    {ogDescription && <meta property="og:description" content={ogDescription} />}

    {/* Favicon BS, SVG/PNG/ICO should be enough, and I don't care about Apple devices */}
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon.png" />
  </head>

  <body class="flex flex-col min-h-dvh">
    <Header />
    <main class="w-full flex-grow m-4 px-4 mx-auto max-w-[900px]">
      <Fragment set:html={slotHtml} />
    </main>
    <Footer />
  </body>
</html>
